---
import SectionTitle from "../ui/SectionTitle.astro";
import TeamCard from "../ui/TeamCard.astro";
import Section from "./Section.astro";

const description =
  "Meet the skilled and experienced team behind our successful digital marketing campaigns and whatnot!";

// Team images
import p1 from "../../assets/team/t1.jpg";
import p2 from "../../assets/team/t2.jpg";
import p3 from "../../assets/team/t3.jpg";

const team = [
  {
    pic: p1,
    name: "Minindu Vithanage",
    role: "Founder and Digital Media Lead",
    description:
      "Active experience in digital marketing and social media management for over 5 years.",
    link: "https://www.linkedin.com/in/mininduvithanage/",
  },
  {
    pic: p2,
    name: "Nipun Kariyawasam",
    role: "Technical Lead ",
    description:
      "4+ years of experience in web development and active in developer communities.",
    link: "https://www.linkedin.com/in/ssanzserif/",
  },
  {
    pic: p3,
    name: "Sandul Siriwardana",
    role: "Social Media Strategist",
    description:
      "Experienced in handling various projects in the digital marketing field.",
    link: "https://www.linkedin.com/in/sandul-siriwardana/",
  },
];
---

<Section id="about">
  <div class="mt-[140px]">
    <SectionTitle sectionTitle="Team" description={description} />
    <div
      class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 grid-rows-2 gap-10"
    >
      {
        team.map((member, index) => (
          <TeamCard
            key={index}
            pic={member.pic}
            name={member.name}
            role={member.role}
            description={member.description}
            link={member.link}
          />
        ))
      }
    </div>
    <div class="flex justify-end mt-10">
      <button class="btn-primary">See all team</button>
    </div>
  </div>
</Section>
